[submodule "biothings.api"]
	path = biothings.api
	url = git@github.com:biothings/biothings.api.git
	branch = master
[submodule "myvariant.info"]
	path = myvariant.info
	url = git@github.com:biothings/myvariant.info.git
	branch = master
[submodule "outbreak.api"]
	path = outbreak.api
	url = git@github.com:outbreak-info/outbreak.api.git
	branch = master
[submodule "mygeneset.info"]
	path = mygeneset.info
	url = git@github.com:biothings/mygeneset.info.git
        branch = master

